.h{
    width: 80%;
    height: 7px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2px;
    margin-bottom: 90px;
    background: #EA4182;
}


/*ABOUT US*/
.about-us{
    padding: 100px;
}

.encajar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-section{
    flex: 1;
    text-align: center;
}

.img-section img{
    max-width: 100%;
    height: auto;
}

.cont-section{
    flex: 1;
    margin-left: 40px;
}

.cont-section h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.cont-section p{
    font-size: 24px;
    line-height: 1.2;
}

.caja {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.const{
    width: 200px;
    height: 200px;
    justify-content: center;
    padding: 6px;
}

.const h2{
     font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.const img > .text{
    margin-bottom: 1em;
    text-align: center;
    font-size: 30px;
}

.const img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    object-position: center;
    padding: 6px;
}

.const img:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05); 
    transform: rotate(-1.2deg) scale(1.05);
    transition: 0.6s ease-out;
    filter: grayscale(0.9);
}

/*
.cont-section .btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #25d88d;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
    transition: 0.4s ease;
}

.cont-section .btn:hover{
    background-color: #286823;
}
*/
/*
@keyframes slideIn{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
*/
@media screen and (max-width: 768px){
    .encajar{
        flex-direction: column;
    }
    .img-section, .cont-section{
        flex: 100%;
        margin: auto;
        text-align: center;
        padding: 0px;
    }

    .img-section img{
        width: 100%;
        margin-bottom: 30px;
    }
}

/*NOTICIAS Y EVENTOS*/


